
ul.nav {
    list-style-type: none;
}
ul.nav li{
    display: inline;
    padding:5px;
}
.page-header{
    text-align: center;
}
.content{
    padding:5px;
    width:80%;
    margin:0 auto;
}
p{
    text-align: justify;
}
.footer{
	width:100%;
	text-align: center;
}

.next_article{
    float:right;
}
.previous_article{
    float:left;
}
.feature_image{
    max-width:600px;
}

form input{
    margin:5px;
    padding:5px;
}
form textarea{
    padding: 10px;
    resize:none;
}

