body{
    background: #656161;
    color:#330000;
}
a{
    color:#30d0d8;
}
a.active{
    color:black;
    text-decoration: none;
}
button{
    background:#aba3a3;
    padding:05px;
    border-radius:10px;
}


ul.nav {
    list-style-type: none;
}
ul.nav li{
    display: inline;
    padding:5px;
}
.page-header{
    text-align: center;
}
.content{
    padding:5px;
    width:80%;
    margin:0 auto;
}
p{
    text-align: justify;

}
.footer{
	width:100%;
	text-align: center;
}

.next_article{
    float:right;
}
.previous_article{
    float:left;
}
.feature_image{
    max-width:600px;
}

form input{
    margin:5px;
    padding:5px;
    background:#4c4c4c;
    border-radius:5px;
}
form textarea{
    padding: 10px;
    resize:none;
    background:#4c4c4c;
    border-radius:5px;
}

form textarea::placeholder{
    color:white;
}
form input::placeholder{
    color:white;
    font-size:11px;
    letter-spacing: 1px;
}

.page-header{
    color:#330000;
}

.image-container{
   width:30%;
   float:left;
   margin-bottom:20px;
}
.image-container p{
    text-align: center;
    color:#0d1021;
}
.image-container img{
    width:70%;

}

